@import './fonts'

*
  box-sizing: border-box
  position: relative
  outline: none

html,
body,
#root
  height: 100%
  background-color: #faeedd

.page
  &__inner
    margin-left: 30px
    color: #6495ed
  &__title
    font-weight: 600
    font-size: 18px
    line-height: 100%
    text-align: center
  &__desc
    font-size: 18px
    line-height: 130%