
body
  font-family: "Raleway"

.page
  &__inner
    // margin-top: 450px
  &__title
    width: 100%
    height: 150px
    // margin-top: 350px
    text-align: left
    font-size: 180px
    font-style: italic
  &__desc
    font-style: normal
    // margin-top: 10px
    font-size: 22px
    text-align: left
    margin-bottom: 80px
    &__line
      position: absolute
      top: 100px
      background: center url(../assets/line.svg)
      background-size: cover
      background-color: #000
      width: 100%
      height: 1000px
      background-size: 1000px 100px
  &__button
      box-shadow: 0 0 8px rgba(0,0,0,0.5)
      border-radius: 45px
      padding: 1px
      width: 150px
      // outline: 0 none !important
      border-color: rgba(197, 208, 230, 0.5)
      opacity: 0.5
      color: #000
      background-color:rgba(197, 208, 230, 0.5)
      margin-top: 10px
      margin-bottom: 100px
      margin-right: 10px
      &:focus
          outline: none
  &__info
      justify-content: center
      opacity: 0.5
      color: #000
      margin-top: 100px
      margin-left: 500px
