@import '../../styles/fonts'
// body
//   font-family: "Source Code Pro"

.new-order
    // display: flex
    // align-items: center
    margin-top: 150px
    border-color: #000
    text-align: center
    &__title
        font-size: 40px
        color: #faebd7
        margin-bottom: 20px
    &__form
        &-inner
            display: flex
            gap: 30px
            width: 100%
            justify-content: center
            margin-bottom: 15px
        &-token-info
            display: flex
            width: 25%
        &-input
            border-color: transparent
            border-radius: 50px
            background-color: #fffafa
            padding: 15px
            width: 100%
        &-select
            border-color: transparent
            background-color: transparent
            color: #fffafa
        &-button
            box-shadow: 0 0 10px rgba(0,0,0,0.5)
            border-radius: 45px
            padding: 15px
            width: 25%
            // outline: 0 none !important
            border-color: #7a6042
            color: #faebd7
            background-color: #382c1e
            &:focus
                outline: none
