.ending-stage
    display: grid
    width: calc( 100% - 200px )
    color: #6495ed
    text-align: center
    margin-top: 200px
    &__text
        font-size: 43px
        font-weight: 700
        margin-bottom: 80px
    &__subtext
        font-size: 36px
        font-weight: 300
        opacity: 0.5
